body {
    background-image: url(img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.medium {
    border: 10px solid orange;
    border-radius: 5px;
    max-width: 50%;
    margin: 0;    
}

.high {
    border: 10px solid green;
    border-radius: 5px;
    max-width: 80%;
    margin: 0
}

.low {
    border: 10px solid red;
    border-radius: 5px;
    max-width: 15%;
    margin: 0
}

.container {
    width: 1000px;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    padding: 130px;
    font-family: 'Ubuntu', sans-serif;
}

.center {
    text-align: center;
}

img {
    max-width: 300px;
    max-height: 200px;
}

#boolean {
    color: rgb(11, 245, 11);
    font-size: 35px;
    
}

.inputs {
    background-color: rgb(11, 245, 11);
    padding: 10px;
}

section {
    color: white;
    margin-top: 20px;
    
}

section > span {
    font-size: 25px;
    
}
p {
    margin-top: 0px;
}